.introductionContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    color: var(--text-color-light);
    height: 100vh;
}

.introductionContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.introductionContent > * {
    margin-bottom: 1rem;
}

.title {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
    text-align: center;
    font-size: 1.3rem;
}

.profileContainer {
    border-radius: 50%;
    margin-top: 2rem;
}

.bottomSquare {
    width: 100%;
    height: 3rem;
    background-color: var(--secondary-color);
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 1), 0 0 32px #6ecaf5;
}

.downloadButton {
    background-color: var(--pdf-button-color);
    font-size: 1.3rem;
    padding: 1rem;
    font-weight: 700;
    border-radius: 10px;
}

@media (min-width: 1440px) {
    .profileContainer {
        order: 1;
    }

    .title {
        font-size: 2rem;
        flex-grow: 0;
        order: 2;
    }

    .techBadges {
        order: 3;
    }
    
    .downloadButton {
        order: 4;
    }

    .bottomSquare {
        order: 5;
    }

    .details {
        position: absolute;
        top: 2rem;
        left: 2rem;
    }
}
