.projectItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color-light);
    padding: 2rem;
    text-align: center;
}

.projectItem > * {
    margin-bottom: 1rem;
}

.projectItem > h3 {
    font-size: 1.5rem;
}

.projectItem:last-child {
    margin-bottom: 0;
}

.roleStyle {
    color: darkgray;
}
