.bars {
    display: none;
  }
  
  @media (min-width: 1440px) {
    .container {
      display: grid;
      grid-template-columns: 15% 70% 15%;
    }
  
    .bars {
      display: block;
      background-color: var(--background-color);
      box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.75);
    }
  }
  