.descriptions {
    padding: 1rem 0;
}

.bottomSquare {
    width: 100%;
    height: 45px;
    background-color: var(--secondary-color);
    z-index: 2;
}

.mainContainer {
    max-width: 768px;
    margin: 0 auto;
    background-color: var(--background-color);
}

.listExperiences {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
}

.title {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    color: var(--text-color-light);
}

@media (min-width: 768px) {
    .descriptions {
        padding: 2rem 0;
    }

    .descriptions article {
        margin-bottom: 32px;
    }

    .listExperiences > * {
        max-width: 425px;
    }

    .about {
        margin: 0 2rem;
    }
}

@media (min-width: 1440px) {
    .mainContainer {
        max-width: none;
    }

    .descriptions {
        padding: 1.5rem;
        padding-bottom: 0;
    }

    .about {
        margin: 0 0 4rem 0; 
    }
}

@media (min-width: 1920px) {
}