.navbar {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    top: 82vh;
    left: 50%;
    width: 90%;
    transform: translateX(-50%);
    padding: 0.5rem;
    border-radius: 50px;
    z-index: 10;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.692);
    animation: show 500ms;
    max-width: 425px;
}

.navbar svg {
    width: 28px;
    height: 100%;
    filter: invert(99%) sepia(61%) saturate(2%) hue-rotate(181deg)
        brightness(110%) contrast(101%);
    margin-bottom: 4px;
}

.navbar > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.65rem;
    width: 100%;
}

.navbar > a,
a:visited,
a:link {
    text-decoration: none;
    color: var(--text-color-light);
}

.hide {
    display: none;
}

@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (min-width: 768px) {
    .navbar svg {
        width: 32px;
    }

    .navbar > a {
        font-size: 0.8rem;
    }
}